<%= render "shared/navbar" %>

<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">From the blog</h1>
    <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
      <% @sudokus.each do |sudoku| %>
        <%= link_to sudoku_path(sudoku) do %>
          <div class="lg:flex">
            <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="<%= sudoku.image_url %>" alt="">

            <div class="flex flex-col justify-between py-6 lg:mx-6">
              <div class="text-xl font-semibold text-gray-800 hover:underline dark:text-white ">
                <%= sudoku.level %>
              </div>
              <span class="text-sm text-gray-500 dark:text-gray-300">On: 20 October 2019</span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
